.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: var(--mantine-spacing-lg);
  border-right: rem(1) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
  gap: var(--mantine-spacing-xl);
}

.navbarMain {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.link {
  width: rem(50);
  height: rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--mantine-radius-md);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-0));
  transition: background-color 150ms ease;

  &[data-active] {
    background-color: var(--mantine-primary-color-light);
    color: var(--mantine-primary-color-light-color);
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.bottomActions {
  margin-top: auto;
}
